/* Batman */
$color-batman-primary-light: #bf6500;
$color-batman-primary-medium: #b45700;
$color-batman-primary-dark: #942d00;
$color-batman-secondary-light: #bf6500;
$color-batman-secondary-medium: #b45700;
$color-batman-secondary-dark: #942d00;

$color-batman-highlight-1-light: #69a82d;
$color-batman-highlight-1-medium: #459400;
$color-batman-highlight-1-dark: #356d00;
$color-batman-highlight-2-light: #4e5e89;
$color-batman-highlight-2-medium: #313d68;
$color-batman-highlight-2-dark: #232b4e;
$color-batman-secondary-light: #ffd72e;
$color-batman-secondary-medium: #f4b821;
$color-batman-secondary-dark: #d39211;
$color-batman-font-base: #ffffff;
$color-batman-font-secondary: #459400;
$color-batman-font-tertiary: #b45700;

/* developer */
$color-developer-primary-light: #19b1a9;
$color-developer-primary-medium: #009a95;
$color-developer-primary-dark: #028680;

$color-developer-highlight-1-light: #d72156;
$color-developer-highlight-1-medium: #c70f3d;
$color-developer-highlight-1-dark: #a90433;
$color-developer-highlight-2-light: #ff8b3e;
$color-developer-highlight-2-medium: #ff6e00;
$color-developer-highlight-2-dark: #ec6000;
$color-developer-secondary-light: #6a4c9a;
$color-developer-secondary-medium: #4f2e80;
$color-developer-secondary-dark: #381b66;
$color-developer-font-base: #111111;
$color-developer-font-secondary: #009a95;
$color-developer-font-tertiary: #4f2e80;

/* sports */
$color-sports-primary-light: #6a4c94;
$color-sports-primary-medium: #4f2e80;
$color-sports-primary-dark: #381b66;

$color-sports-highlight-1-light: #215c8a;
$color-sports-highlight-1-medium: #1d4774;
$color-sports-highlight-1-dark: #0f3a60;
$color-sports-highlight-2-light: #d72156;
$color-sports-highlight-2-medium: #c70f3d;
$color-sports-highlight-2-dark: #a90433;
$color-sports-secondary-light: #69a82d;
$color-sports-secondary-medium: #459400;
$color-sports-secondary-dark: #356d00;
$color-sports-font-base: #111111;
$color-sports-font-secondary: #1d4774;
$color-sports-font-tertiary: #459400;
